@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Gideon+Roman&display=swap');

body {
  background: #dce4f3; /* fallback for old browsers */
  font-family: 'DM Sans', sans-serif;
}

* {
  font-family: 'DM Sans', sans-serif;
}

.general {
  display: flex;

  justify-content: center;
  align-items: center;

  .paragraph {
      align-self: center;
  }
}

.wrapper {
  max-width: 500px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.li-item {
  list-style-type: decimal;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 3px;
  padding: 5px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
}

// .oredereList {
//     max-width: 1300px;

// }

.input {
  padding: 5px;
  font-size: 16px;
  border-width: 3px;
  border-color: #ffffff;
  background-color: #f1f1f1;
  color: #000000;
  border-style: solid;
  border-radius: 50px;
}

.submit {
  background: #39b8ff;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  border: #fff;
}


form {
    text-align: center;
}